<div class="col">

    <p class="h5 text-warning">Hi, Welcome</p>
    <p class="h1 text-white">
      I am Logesh
    </p>
    <div class="w-30">
      <p class="h5 text-secondary">
        Experienced Angular Developer with 1.5 years of experience and a degree in Mathematics. Expert in
        Angular with experience in versions above Angular 5. Skilled in HTML, CSS, and Javascript.
        Designed application screens, business rules, system menus, user reports.
      </p>

    </div>
  </div>