/* The side navigation menu */
.sidebar {
    margin: 0;
    padding: 0;
    width: 12%;
    background-color: #E1E1E1;
    position: fixed;
    height: 100%;
    overflow: auto;
    transition:  .5s;
  }
  
  /* Sidebar links */
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
  
  /* Active/current link */
  .sidebar a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  /* Links on mouse-over */
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
  div.content {
    margin-left: 12%;
    padding: 0.7%;
    height: 100%;
    transition: .5s;
    background-color: #efeeee;
    position: fixed;
    overflow: auto;
    width: 88%;
    
  }
  
  /* On screens that are less than 700px wide, make the sidebar into a topbar */
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 12%;
      height: 100%;
      font-size: 10px;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;width: 100%;}
  }
  
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      width: 12%;
      height: 100%;
      float: none;
    }
    div.content {margin-left: 0;width: 100%;}

  }